<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.scan_to_slove.ScanActivityNew"
            android:exported="false" />
        <activity
            android:name=".ui.history.activity.DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.activity.HistoryActivityNew"
            android:exported="false" />
        <activity
            android:name=".ui.chat_ai.Activity.ChatActivityNew"
            android:exported="false" />
        <activity
            android:name=".ui.Unit_converter.HomeUnitConverterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scan_to_slove.Answer2Activity"
            android:exported="false"
            android:windowIsTranslucent="true"/>
        <activity
            android:name=".ui.scan_to_slove.ScanToSoloveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Unit_converter.ConverterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.smartcalculator.SmartCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.smartcalculator.AnswerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat_ai.Activity.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>